body{
    font-family:arial;
    background: #C6CBFC;
}
.logo{
    display:block;
    margin:auto;
    margin-bottom: 0px;
}
*{
    margin:0px;
    padding:0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing:border-box;
}
nav{
    list-style: none;
    padding: 0%;
    background: white;
    margin-top:20px;
}
ul{
    list-style: none;
}
ul li a{
    text-decoration: none;
    color: #979FEE;
    padding: 20px;
    display: block;
}
nav li{
    display: inline-block;
    text-align: center;
}
nav li a:hover{
background: #C6CBFC; 
color:white;
border:3px white solid;
font-size: 15pt;
}
.titulo{
    font-family: Mongolian Baiti;
    font-size:30pt;
    color: black;
    margin:20px;
    text-decoration:solid 3px black;

}
.item .txt{
    font-size:20pt ;
    text-align: center ;
}
.padre{
    border:rgb(222, 224, 236) 5px solid;
    background: white;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 70%;
    margin:0 auto;
    margin-top:50px;
    
}
.contenedor{
    display:inline;
}
.txt{
    background: black;
    color:white;
    margin-bottom:50px;
}
.padre .txt{
    display: inline block;
}